
.github-tag{
    height: 20px;
    width: 20px;
}
.github-div{
    height: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    

}
.imageProject{
    width: 29em;
    height: 16em;
    border-radius: 20px;
    position:sticky;
    object-fit:contain;
}

.Icon-tag{
    height: 1rem;
    border-radius: 1px;
    object-fit: cover;
    background-color: #1932be16;
    will-change: transform;
    transition: transform 300ms;
    overflow-wrap: break-word;
}

.Icon-tag:hover{
    transform: scale(1.1);
}

.multitag-div{
    display: flex;
    gap: 0.4em;
    margin-bottom: 1em;
}
.tag-div{
    display:flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    border-radius: 2em;
    width: 6.5em;
    height: 1.5em;
    gap: 0.4em;
    background-color:#183cb3c4;
    overflow-wrap: break-word;
    font-size: 16px;

}
.tagProject-div{
    text-align: left;
    margin-left: 10px;
    

}
.dataProject{
    width:27em;
    height:15em;
    margin-left:40px;
    display:flexbox;
    position: sticky;
    align-items:left;
    max-width: 35vw;
}

.description-p{
    text-align: left; 
    color: var(--text-color-secondary);
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    font-size: 16px;
    
}

.list-ul{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    
}
.project-li{
    padding: 25px 0px 20px 0px;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}

.title{
    text-align: left;
}

.Project-section{
    padding: 20px 0px 20px 0px;
}

.projects-H1{
    margin-bottom: 0px;
}


@media screen and (max-width: 1024px) {
  .project-li {
    flex-direction: column;  
    align-items: center;   
    padding-bottom: 10px;  
  }
  .tag-div p{
    font-size: 9px;
  }

}

@media screen and (max-width: 768px) {
  .project-li {
    flex-direction: column;  
    align-items: center;     
  }

  .imageProject {
    width: 100%;  
    height: auto; 
  }

  .dataProject {
    margin-left: 0;  
    max-width: 100%; 
    text-align: center; 
  }

  .tagProject-div {
    margin-left: 0;  
    text-align: center;
  }
}