.list-ul{
  display: inline;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease; 
  list-style: none;
}
.list-item {
  display: inline;
  font-size: initial;
  list-style: none;
  white-space: nowrap;
}

.imageProject {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main container */

.main-container {
  width: 390px;
  height: 240px;
  margin: 0 auto;
}

/* Slider container */
.slider-container {

  position: relative;
  height: 100%
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
  
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  font-size: 50px;
  font-weight: 700;
  color: #ccc;
  z-index: 1;
  cursor: pointer;
}

.leftArrow:hover{
    transition-duration: 0.3s;
    opacity: 1;
    color: #fff;
}

.rightArrow {
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 8px;
  font-size: 50px;
  font-weight: 700;
  color: #ccc;
  z-index: 1;
  cursor: pointer;
}

.rightArrow:hover{
  transition-duration: 0.3s;
  opacity: 1;
    color: #fff;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #cccccc96;
  overflow: hidden;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}