:root {
  --background-color:#242424;
  --text-color:rgba(255,255,255,0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"]{
  --tw-text-opacity: 1;
  --background-color:#F1F1FD;
  --text-color:black;
  --text-color-secondary:rgb(55 65 81 / var(--tw-text-opacity));
}

[data-theme="dark"]{
  --tw-text-opacity: 1;
  --background-color:#242424;
  --text-color:rgba(255,255,255,0.87);
  --text-color-secondary:rgb(156 163 175 / var(--tw-text-opacity));
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding: 7px;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  transform-origin:top center;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  text-align: left;
}

h2{
  font-weight:700;
  font-size: 1.5rem;
  line-height: 0.1rem;
}

header {
  background-color:var(--background-color);
  color: var(--text-color);
  border-radius: 25px;
  box-shadow:2px 1px 1px 1px rgba(0,0,0,0.1);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  height: 1.6vh;
  top:1.3vh;
  left: 80vh;
  z-index: 1;
}
html{
  scroll-behavior: smooth;
}

button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 10px;
  min-width: 0;
  max-width: 180px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 5em;
  height:2em;
  will-change: transform;
}
button:disabled{
  pointer-events: none;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
button:active{
  box-shadow: none;
  transform:translateY(0);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width:900px){
  :root{
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }
  
}
